@import '../App.scss';

.top{
  /* flex */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  p {
    color: white;
    font-size: 32px;
    font-family: $base-font-family;
  }

  /* basics */
  // position: fixed;
  background-color: $base-first-color;
  height: $top-height;
  width: 100%;
  box-shadow: 0 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px
}