@import '../App.scss';

.item{
  // flex
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  // basics
  border-radius: 10px;
  margin: 30px;
  padding: 20px;
  background-color: $base-first-color;
  color: white;
  text-decoration: none;
}

.avatorImg{
  margin-right: 20px;
}

.itemText{
  width: 300px;
  font-size: 24px;
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.likesCount{
  font-size: 24px;
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.vartical{
  background-color: white;
  border: 0px;
  width: 1px;
  height: 100%;

  padding: 0;
  margin: 0 20px;
}