$base-first-color: #55c500;
$base-font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$top-height: 50px;

.app{}
.content{
  // flex
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}